$darkBlack: #2d3436;
$lightBlck: #2f3640;
$lightYellow: #ffcd06;
$darkYellow: #e1b12c;
$lightPink: #fd79a8;
$darkPink: #e84393;
$lightRed: #eb3b5a;
$darkRed: #eb4d4b;
$lightGreen: #26de81;
$darkGreen: #20bf6b;
$lightBlue: #54a0ff;
$darkBlue: #0097e6;
$lightWhite: rgba(245, 246, 250, 1);
$darkWhite: #dfe6e9;
$hover: rgba(45, 52, 54, 0.15);
